* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.checkStatus {
    font-size: 32px;
    padding: 12px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 3px;
}